body {
    margin: auto;
    width: 80%;
    height: 70%;
    user-select: none;
    text-align: center;
    line-height: 80%;
    font-size: 16px;
    touch-action: manipulation;
}

.cendiv {
    text-align: center;
}

.sth {
    animation: info2 0.5s;
    width: 1.2cm;
    height: 1.2cm;
    border-radius: 6mm;
    box-shadow: 0px 0px 5px 2px grey;
    background-color: #f6f6f6;
    position: absolute;
    top: 2%;
    left: 20%;
    overflow-x: hidden;
}
.icon {
    font-size: 3mm;
    font-weight: bold;
    line-height: 6mm;
}
.sth:hover {
    animation: info 0.5s;
    width: 6cm;
    height: 12cm;
}
@keyframes info {
    from {
        width: 1.2cm;
        height: 1.2cm;
    }
    to {
        width: 6cm;
        height: 12cm;
    }
}
@keyframes info2 {
    from {
        width: 6cm;
        height: 12cm;
    }
    to {
        width: 1.2cm;
        height: 1.2cm;
    }
}

.more {
    font-size: 3mm;
    line-height: 3mm;
    font-weight: bold;
    background-color: white;
    border-radius: 5mm;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: auto;
    text-align: left;
    max-width: 0;
    max-height: 0;
    transition: max-height 0.5s ease, max-width 0.5s ease;
}
.more p, h6 {
    padding-left: 3mm;
    padding-right: 3mm;
}
.sth:hover .more {
    max-width: 5cm;
    max-height: 10.3cm;
}

.rh {
    height: 1cm;
    width: 3.1cm;
    margin: auto;
    margin-bottom: 8px;
    border-radius: 0.5cm;
    box-shadow:0px 0px 0px 3px #e0e0e0 inset;
}

input {
    width: 500px;
    height: 26px;
    margin-top: 10px;
    border: 3px solid grey;
    border-radius: 12px;
    padding-left: 4mm;
    padding-right: 4mm;
    font-size: 4mm;
    animation: unhovershadow 0.2s;
}
input:hover {
    animation: hovershadow 0.2s;
    box-shadow: 0px 0px 3px 1px grey;
}
input:focus {
    outline: none;
    animation: focusshadow 0.2s ease;
    box-shadow: 0px 0px 3px 3px grey;
}

@keyframes hovershadow {
    from {box-shadow: 0px 0px 0px 0px grey;}
    to {box-shadow: 0px 0px 3px 1px grey;}
}
@keyframes unhovershadow {
    from {box-shadow: 0px 0px 3px 1px grey;}
    to {box-shadow: 0px 0px 0px 0px grey;}
}
@keyframes focusshadow {
    from {box-shadow: 0px 0px 3px 1px grey;}
    to {box-shadow: 0px 0px 3px 3px grey;}
}

::selection {
    color: white;
    background-color: gray;
    -webkit-text-stroke: 0px;
    font-weight: lighter;
}

.history {
    overflow-y: scroll;
    border: 3px solid grey;
    border-radius: 12px;
    width: 500px;
    height: 360px;
    margin: auto;
    text-align: left;
    padding: 4mm;
    user-select: text;
}
.history p {
    line-height: 100%;
    color: #fffd7f;
    margin: 0px;
    padding-left: 6px;
    padding-right: 6px;
    word-break: break-all;
    -webkit-text-stroke: 0.5px #606060;
    font-weight: bold;
    font-size: 16px;
}
.msgbox {
    background-color: #d0d0d0;
    border: 4px solid #d0d0d0;
    border-radius: 8px;
    display: inline-flex;
}

.butbox {
    margin: auto;
    width: 3.1cm;
    height: 1cm;
    margin-bottom: 8px;
    border-radius: 0.5cm;
    box-shadow:0px 0px 0px 3px #e0e0e0 inset;
}

button {
    border: 3px solid dodgerblue;
    border-radius: 0.5cm;
    width: 3.1cm;
    height: 1cm;
    font-size: 20px;
    background-color: white;
}
button:hover {
    font-weight: bolder;
    color: green;
    background-color: gold;
}
.butbox:hover button {
    animation: lr 5.2s infinite ease;
    font-weight: bolder;
    color: green;
    background-color: gold;
}
button:active {
    font-weight: bolder;
    background-color: #e0e0e0;
}
button:focus {
    outline: none;
    box-shadow: 0px 0px 2px 1px yellow;
}
@keyframes lr {
    0% {transform: translateX(200px);}
    25% {transform: translateX(-200px);}
    50% {transform: translateX(200px);}
    75% {transform: translateX(-200px);}
    100% {transform: translateX(200px);}
}

::-webkit-scrollbar {
    display: none;
}

.se {
    font-size: 22px;
    font-weight: bold;
}

.box1 {
    margin: auto;
    width: max-content;
    height: min-content;
}
@keyframes shake {
    0% {transform: translateX(10px);}
    25% {transform: translateX(-10px);}
    50% {transform: translateX(10px);}
    75% {transform: translateX(-10px);}
    100% {transform: translateX(10px);}
}
