body {
    user-select: none;
    text-align: center;
    line-height: 80%;
    font-size: 16px;
}

.cendiv {
    text-align: center;
}

.rh {
    height: 1cm;
    width: 3.1cm;
    margin: auto;
    margin-bottom: 8px;
    border-radius: 0.5cm;
    box-shadow:0px 0px 0px 3px #e0e0e0 inset;
}

input {
    width: 600px;
    height: 26px;
    margin-top: 10px;
    border: 3px solid grey;
    border-radius: 12px;
    padding-left: 16px;
    font-size: 16px;
    animation: unhovershadow 0.2s;
}
input:hover {
    animation: hovershadow 0.2s;
    box-shadow: 0px 0px 3px 1px grey;
}
input:focus {
    outline: none;
    animation: focusshadow 0.2s ease;
    box-shadow: 0px 0px 3px 3px grey;
}

@keyframes hovershadow {
    from {box-shadow: 0px 0px 0px 0px grey;}
    to {box-shadow: 0px 0px 3px 1px grey;}
}
@keyframes unhovershadow {
    from {box-shadow: 0px 0px 3px 1px grey;}
    to {box-shadow: 0px 0px 0px 0px grey;}
}
@keyframes focusshadow {
    from {box-shadow: 0px 0px 3px 1px grey;}
    to {box-shadow: 0px 0px 3px 3px grey;}
}

::selection {
    color: white;
    background-color: gray;
    -webkit-text-stroke: 0px;
    font-weight: lighter;
}

.history {
    overflow-y: scroll;
    border: 3px solid grey;
    border-radius: 12px;
    width: 600px;
    height: 400px;
    margin: auto;
    text-align: left;
    padding-left: 16px;
    padding-top: 16px;
    overflow-x: hidden;
    user-select: text;
}
.history p {
    width: max-content;
    height: min-content;
    color: #fffd7f;
    background-color: #d0d0d0;
    border: 4px solid #d0d0d0;
    border-radius: 8px;
    margin: 0px;
    padding-left: 6px;
    padding-right: 8px;
    -webkit-text-stroke: 0.5px #606060;
    font-weight: bold;
    font-size: 16px;
}

.butbox {
    margin: auto;
    width: 3.1cm;
    height: 1cm;
    margin-bottom: 8px;
    border-radius: 0.5cm;
    box-shadow:0px 0px 0px 3px #e0e0e0 inset;
}

button {
    border: 3px solid dodgerblue;
    border-radius: 0.5cm;
    width: 3.1cm;
    height: 1cm;
    font-size: 20px;
    background-color: white;
}
button:hover {
    font-weight: bolder;
    color: green;
    background-color: gold;
}
.butbox:hover button {
    animation: shake 4.8s infinite ease;
    font-weight: bolder;
    color: green;
    background-color: gold;
}
button:active {
    font-weight: bolder;
    background-color: #e0e0e0;
}
@keyframes shake {
    0% {transform: translateX(200px);}
    25% {transform: translateX(-200px);}
    50% {transform: translateX(200px);}
    75% {transform: translateX(-200px);}
    100% {transform: translateX(200px);}
}

::-webkit-scrollbar {
    display: none;
}

.se {
    font-size: 22px;
    font-weight: bold;
}
